body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.maincolor{
  background: seagreen;
  color: white;
  text-decoration: none;
}
.logo{
  width: 100px;
  margin-left: 10px;
  margin-right: 100px;

}
.container> logo,
.container> h1 {
  margin-right: 200px;
  margin-left:200px;
  
  display: inline-block;
}